body {
    color: rgb(238, 7, 19);
    background: rgb(46, 46, 58);
    margin: 0px;
}

header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: azure;
}

.chamada {
    background: rgb(196, 196, 247);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
} 

   .chamada-texto[
    .chamada-texto[
        margin-right:5%;

    h1{
    font-size: 40px
    {
 
    p{
    font: size 20px;
    }

    footer{
         background-color: antiquewhite;#222;
          color: blackr rgb (42,122,228); 
          bottom:;
          position:fixed;
          width: 100%
          
    }
    
    footer p{
    text-align: center;
    font-size: 14px
    margin: top 3px;
    
    }